<div class="flex items-center ml-3">
  <form [formGroup]="searchForm" class="flex items-center" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="Search..." formControlName="searchQuery">
    </mat-form-field>

    <mat-form-field class="ml-2" appearance="outline">
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Date">
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="ml-2" appearance="outline">
      <mat-select formControlName="channel" placeholder="Select a channel">
        <mat-option value="option1">In person</mat-option>
        <mat-option value="option2">On phone</mat-option>
        <mat-option value="option3">Online</mat-option>
      </mat-select>
    </mat-form-field>

    <div style="margin-bottom: 12px; margin-left: 2rem;">
      <button type="submit" class="inline-flex items-center py-4 px-4 ml-4 mb-1 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>Search
      </button>
    </div>
  </form>

</div>




