.mat-mdc-list-item,
.mat-mdc-card-title,
.mat-mdc-card-subtitle {
  line-height: 1.2;
  font-family: var(--font-family);
  color: var(--bs-text);
  text-decoration: none;
}

.msg {
  .p-image-preview-container > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-width: 128px;
    max-height: 128px;
    box-shadow: 0px 0px 3px #eee;
    transition: all 0.8s cubic-bezier(0.565, -0.26, 0.255, 1.41);
    cursor: default;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .p-image-preview {
    height: 100%;
    width: 100%;
    max-height: 350px;
    min-height: 200px;
    object-fit: contain;
    max-width: 100%;
  }
}

.video-call-dialog {
  .mat-mdc-dialog-container {
    resize: both;
    overflow: auto;
    background: #000;
    border-radius: 0.4rem;
    --mdc-dialog-container-color: #000;
    // --mdc-dialog-container-elevation: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    //   0 4px 6px -4px rgb(0 0 0 / 0.1);
    // --mdc-dialog-container-shape: 1rem;
  }
  .mat-mdc-dialog-content {
    margin: 0;
    min-width: 400px;
    min-height: 400px;
    max-height: initial;
  }
}

.mdc-button .mdc-button__label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.mat-mdc-raised-button.mat-mdc-button-base,
.mat-mdc-unelevated-button.mat-mdc-button-base,
.mat-mdc-outlined-button.mat-mdc-button-base {
  height: 40px !important;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
  max-height: 300px;
}

.material-icons {
  font-family: "Material Symbols Rounded", "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1 !important;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  -webkit-font-smoothing: antialiased;
  .mat-badge-content {
    font-family: var(--font-family);
  }
}

.icon-fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.mat-mdc-menu-content:not(:empty) {
  padding-top: 0 !important;
}

.mat-mdc-standard-chip {
  padding: 0.5em 0.85em;
  min-height: 2.5em;
}

.mat-drawer-content {
  overflow: unset;
}

.mat-bottom-sheet-container {
  padding: 0 !important;
}

.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
}

/**
MAT BADGE
*/
.top-chat-btn {
  .mat-badge-content {
    position: relative;
    left: -8px;
  }
}
/**
 * Override the default styles for the MDC form field
 */
.form-field {
  &.mat-mdc-form-field {
    width: 100%;
    margin-bottom: 0.5rem;
    .mat-mdc-floating-label {
      font-size: 0.9rem !important;
    }
    &.mat-form-field-appearance-fill {
      .mat-form-field-subscript-wrapper {
        margin-top: 4px;
      }
      .mat-mdc-form-field-flex {
        border-radius: 0.4rem;
        padding: 0 0.5rem;
        .mat-mdc-form-field-infix {
          padding-left: 0.5em;
          padding-right: 0.5em;
          padding-bottom: 0rem;
          padding-top: 20px;
          min-height: 50px;
        }
      }
      .mat-mdc-text-field-wrapper {
        background-color: #fff;
        @apply border border-gray-300 bg-white;
        border-radius: 0.4rem;
        overflow: hidden;
        &.mdc-text-field--invalid {
          @apply border border-danger;
        }
      }
      .mat-mdc-floating-label.mdc-floating-label {
        // left: 8px;
        line-height: 1.2;
      }
      .mdc-line-ripple {
        opacity: 0;
      }
    }
    .mdc-text-field {
      padding: 0;
    }
    &.mat-focused {
      .mat-mdc-text-field-wrapper {
        @apply border border-primary;
        &.mdc-text-field--invalid {
          @apply border border-danger;
        }
      }
      .mat-mdc-floating-label {
        @apply text-primary;
      }
    }
    .mat-mdc-form-field-focus-overlay {
      @apply bg-white;
    }
    &.mat-focused {
      .placeholder-required {
        @apply text-primary;
      }
    }
  }

  &.checkbox {
    ul {
      list-style-type: none;
      margin-bottom: 0.5rem;
    }
  }
  &.radio {
    .mat-mdc-radio-group {
      margin-bottom: 0.5rem;
    }
  }
  &.checkbox,
  .radio {
    .placeholder-required {
      @apply text-primary;
    }
    .mat-mdc-form-field-error {
      font-size: 75%;
    }
  }

  // .mat-select-panel-wrap {
  //   .mat-mdc-select-panel {
  //     border-radius: 0.4rem;
  //   }
  // }
}

.mdc-menu-surface.mat-mdc-select-panel {
  border-radius: 0.4rem;
}

.cdk-overlay-pane {
  .mdc-menu-surface.mat-mdc-select-panel {
    border-radius: 0.4rem;
    margin-top: -13px;
  }
}

/* Hide arrows from the input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.mat-expansion-panel-body {
  padding: 0 16px 16px !important;
}
