<div class="w-full flex justify-center items-center bg-gray-100">
  <div class="w-full max-w-lg relative overflow-visible">
    <div class="w-full max-w-lg relative">
      <a (click)="close()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="absolute top-0 right-0 mt-2 mr-2 w-6 h-6 cursor-pointer">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </a>
      <form [formGroup]="UpdatestockForm" class="bg-white shadow-md rounded px-8 pt-6 pb-7">
        <h2 class="text-xl font-semibold mb-4">Update Stock</h2>
        <div class="mb-3">
          <mat-form-field appearance="outline" style="width: 350px;">
            <input matInput formControlName="productName" placeholder="Product Name" readonly>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field appearance="outline" style="width: 350px;" >
            <input matInput formControlName="price" placeholder="Price" readonly>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field appearance="outline" style="width: 350px;" >
            <input matInput formControlName="Cquantity" placeholder="Current quantity" readonly>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field appearance="outline" style="width: 350px;">
            <input matInput formControlName="Nquantity" placeholder="New import quantity">
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field appearance="outline" style="width: 350px;">
            <input matInput formControlName="Tquantity" placeholder="Total quantity" readonly>
          </mat-form-field>
        </div>
      <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" (click)="update()">
        Save
      </button>
      </form>
    </div>
  </div>
</div>

