.row-auto {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 1rem;
  max-width: 400px;
}

@media (min-width: 768px) {
  .card {
    max-width: 500px;
  }
}

@media (min-width: 1200px) {
  .card {
    max-width: 600px;
  }
}

.card:nth-child(4n) {
  margin-right: 0;
}
.hide{
  display: none;
 }

.show{
  display: block;
}
