<div class="text-black text-xl font-bold text-700 ml-5 mt-5">
  Profile details
</div>
<div class="flex flex-wrap overflow-auto" style="min-width: 350px;">
  <div class="border p-4 m-2 flex-1 rounded-lg">
    <div class="border-b border-gray-300 pb-2 mb-2">
      <div style="display: flex;">
        <img [src]="imageUrl" style="width: 6rem; height: 6rem; border-radius: 3px; ">
        <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
        <div style="display: block;">
          <div>
            <button style="width: 15rem; margin-top: 10px; margin-bottom: 10px;" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-5" (click)="uploadButtonClicked()">Upload new photo</button>
          </div>
          <span class="ml-5 text-xs" style="font-family: Roboto, 'Helvetica Neue', sans-serif; color: #686a6e;">Allowed JPG, GIF, or PNG. Max size of 1MB</span>
        </div>
      </div>
      <div style="display: block; margin-top: 10px;">
        <div class="text-sm" style="font-family: Roboto, 'Helvetica Neue', sans-serif; color: #686a6e;">Phamasist</div>
        <div class="text-xs" style="font-family: Roboto, 'Helvetica Neue', sans-serif; color: #686a6e;">Medikea Clinic - Dar es salam</div>
      </div>
    </div>
    <div class="border-b border-gray-300 pb-2 mb-2">
      <form [formGroup]="profile" (ngSubmit)="Submit()">
        <div>
          <mat-form-field style="width: 420px;">
            <mat-label>First Name</mat-label>
            <input matInput type="text" id="firstname" formControlName="firstname">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 420px;">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" id="lastname" formControlName="lastname">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 420px;">
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" formControlName="email">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 420px;">
            <mat-label>Short Bio</mat-label>
            <textarea matInput id="shortBio" formControlName="shortBio"></textarea>
          </mat-form-field>
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" [disabled]="profile.invalid">Save</button>
      </form>
    </div>
    <div>
      <div style="display: flex; justify-content: flex-end;">
        <img [src]="imageUrl" style="width: 6rem; height: 6rem; border-radius: 3px; ">
        <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
        <div style="display: block;">
          <div>
            <button style="width: 15rem; margin-top: 10px; margin-bottom: 10px;" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-5" (click)="uploadButtonClicked()">Upload new signature</button>
          </div>
          <span class="ml-5 text-xs" style="font-family: Roboto, 'Helvetica Neue', sans-serif; color: #686a6e;">Allowed JPG, PDF, or PNG. Max size of 1MB</span>
        </div>
      </div>
    </div>
  </div>
  <div class="border p-4 m-2 block rounded-lg" style="height: min-content;">
    <form [formGroup]="password" (ngSubmit)="Submit()">
      <div>
        <mat-form-field style="width: 420px;">
            <mat-label>Current Password</mat-label>
            <input matInput type="password" id="currentPassword" formControlName="currentPassword">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width: 420px;">
          <mat-label>New Password</mat-label>
          <input matInput type="password" id="newPassword" formControlName="newPassword">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width: 420px;">
          <mat-label>Current Password</mat-label>
          <input matInput type="password" id="confirmPassword" formControlName="confirmPassword">
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" >Save</button>
    </form>
  </div>
</div>

