$mat-primary: (
  50: #e7effe,
  100: #c2d7fd,
  200: #9abcfc,
  300: #72a1fa,
  400: #538df9,
  500: #3579f8,
  600: #3071f7,
  700: #2866f6,
  800: #225cf5,
  900: #1649f3,
  A100: #ffffff,
  A200: #f0f3ff,
  A400: #bdcaff,
  A700: #a3b6ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
